body,
html {
    margin: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

/* .montserrat-<uniquifier> { 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}*/
/* Home Page (Page 1)
    There is no navigation  bar */

.home-img {
    background-image: url("assets/images/vecteezy_modern-technology-background_31993297.jpg");
    height: 100%;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.border-text {
    background-color: white;
    position: absolute;
    color: rgb(14, 138, 233);
    top: 40%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: .6;
    text-align: center;

}

.home-bttn button {

    position: absolute;
    top: 68%;
    left: 45%;
    color: white;
    background-color: dodgerblue;
    font-weight: 500;
    font-size: 18px;
    border: none;
    outline: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 10px;
}

.home-bttn button:hover {
    color: #010a1b;
    background-color: rgb(108, 231, 247);
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    position: absolute;
}

/* Home icon */
.home-icon {
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 24px;
    color: aliceblue;
    text-decoration: none;
}

.home-icon :hover {
    color: #000000;
}

.home-icon i {
    font-size: 28px;
}

/* Links */
nav {
    margin-top: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar a {
    color: aliceblue;
    text-decoration: none;
    padding: 8px 18px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar a.active {
    color: black;
    background-color: #fffddb;
    border-radius: 10px;
    opacity: .7;
}

.navbar a:hover {
    background-color: #fffddb;
    color: black;
    border-radius: 10px;
}

/* Dropdown */
.dropdown1 {
    position: relative;
}

.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #7fa3f752;
    top: 31px;
    min-width: 180px;
    border-radius: 10px;
    padding: 5px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.dropdown1-content a {
    display: block;
    padding: 10px 20px;
}

.dropdown1-content a:hover {
    background-color: #fffddb;
    color: black;
}

.dropdown1:focus-within .dropdown1-content {
    display: block;
}

/* ==========================================
   HAMBURGER FOR MOBILE
   ========================================== */
.hamburger,
.close-btn {
    display: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 1001;
}

#closeBtn {
    display: none;

}

/* Enter Google Page (Page 2) */

/* Navigation bar */
/* .navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
    padding-bottom: 20px;
    position: absolute;
}

nav {
    margin-top: 25px;
    display: inline-block;
}


.navbar a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;

}

.navbar a.active {
    color: black;
    background-color: #fffddb;
    border-radius: 10px;
    opacity: .7;
}

.navbar a:hover {
    color: black;
    background-color: #fffddb;
    border-radius: 10px;
} */

/* Dropdown in navigation */
/* .dropdown1 {
    position: relative;
    display: inline-block;
} */

/* Dropdown menu box in navigation */
/* .dropdown1-content {
    display: none;
    position: absolute;
    background-color: #7fa3f752;
    top: 31px;
    min-width: 180px;


    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}


.dropdown1-content a {
    display: block;
    padding: 10px 20px;
    color: aliceblue;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}


.dropdown1-content a:hover {
    background-color: #fffddb;
    color: black;
    border-radius: 6px;
}


.dropdown1:hover .dropdown1-content {
    display: block;
}

.home-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    color: aliceblue;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}

.home-icon:hover {
    color: #fffddb;
} */

/* Icon size */
/* .home-icon i {
    font-size: 30px;
} */

/* Hamburger menu for responsive webpage */
/* .hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;

}

.hamburger-menu button {
    background: none;
    border: none;
    color: rgb(255, 239, 239);
}

.hamburger-menu button .fa-bars {
    cursor: pointer;
    font-size: 2.5em;
    padding-right: 15px;
}

.close-menu {
    display: none;
} */


/* The main image of the enter google page  */
.main-img {
    background-image: url("assets/images/Google-on-the-screen.jpg");
    height: 900px;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.main-tog {
    /* display: none; */
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 80%;
    max-width: 650px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    white-space: pre-wrap;



}

.main-img input {
    display: none;
}

.head-text {
    /* display: none; */
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 80%;
    max-width: 650px;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    white-space: pre-wrap;



}


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.type-effect {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(70) 1s forwards,
        blink 0.75s step-end infinite;


}

#tog:checked~.main-text,
.head-text {
    display: block;
}

.type-effect:nth-child(1) {
    animation-delay: 1s;
}

.type-effect:nth-child(2) {
    animation-delay: 7s;
}

.type-effect:nth-child(3) {
    animation-delay: 13s;
}

.type-effect:nth-child(4) {
    animation-delay: 19s;
}




.google-arrow {

    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    font-size: 60px;
    color: white;
    cursor: url('assets/images/google-cursor.png'), auto;
}


/* Searching for Capitalism page (Page 3) */

.fire-img {
    background-image: url("assets/images/vecteezy_cityscape-under-fiery-cloud-network-technology-and-connection_69348392.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    cursor: url("assets/images/google-cursor.png"), auto;

}

.fire-img img {
    position: absolute;
    top: 35%;
    height: 65%;
    width: 100%;
    opacity: .5;
}


.money-bags img {
    position: absolute;
    height: 30%;
    width: 30%;
    top: 70%;

}

.fire-img input[type="checkbox"] {
    display: none;
}

.money-stacks img {
    position: absolute;
    height: 25%;
    width: 25%;
    top: 75%;
    left: 73%;
}



/* The white arrow pointing next */
span {
    color: white;
    font-size: 80px;
    position: absolute;
    left: 50%;
    top: 75%;
    cursor: pointer;
}

.fire-img h1 {
    position: absolute;
    color: white;
    left: 29%;
    top: 15%;
    font-size: 36px;

}

.fire-img h3 {
    position: absolute;
    color: white;
    top: 65%;
    left: 40%;
    font-size: 28px;
}

/* Text glow */
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

/* Animation for the text glow */
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 15px #fff, 0 0 25px #fff, 0 0 35px #00bce6, 0 0 45px #21d4fc, 0 0 55px #21d4fc, 0 0 65px #21d4fc, 0 0 75px #21d4fc;
    }

    to {
        text-shadow: 0 0 25px #fff, 0 0 35px #51f9d8, 0 0 45px #51f9d8, 0 0 55px #51f9d8, 0 0 65px #51f9d8, 0 0 75px #51f9d8, 0 0 85px #51f9d8;
    }
}

.moneytext {
    position: fixed;
    top: 31%;
    left: 5%;
    width: 280px;
    padding: 15px;
    border: 2px, solid black;
    border-radius: 10px;
    display: none;
    animation: fadeIn 0.25s, ease-in-out;
    line-height: 1.3;
    background-color: #3b9eb7ca;
    color: white;
    font-size: 18px;
    font-weight: 500;
}


.cashtext {
    position: fixed;
    top: 15%;
    left: 75%;
    width: 280px;
    padding: 15px;
    border: 2px, solid black;
    border-radius: 10px;
    display: none;
    animation: fadeIn 0.25s, ease-in-out;
    color: white;
    line-height: 1.3;
    font-size: 18px;
    background-color: #3b9eb7ca;
}


/* Adding animation for when the money bag is clicked */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0, 9);
    }

    to {
        opacity: 0;
        transform: scale(1);
    }

}

label.close-moneybtn {
    display: inline-block;
    margin-left: 80px;
    margin-top: 10px;
    width: 100px;
    padding: 10px;
    text-align: center;
    background: royalblue;
    color: white;
    border-radius: 14px;
    font-size: 18px;


}

label.close-cashbtn {
    display: inline-block;
    margin-left: 80px;
    margin-top: 10px;
    width: 100px;
    padding: 10px;
    text-align: center;
    background: royalblue;
    color: white;
    border-radius: 14px;
    font-size: 18px;


}



/* also the toggle box to appear when moneybag is clicked */
#money-Box:checked~.moneytext {
    display: block;


}

#cashBox:checked~.cashtext {
    display: block;


}


/* Balance Power page (page 4) */
.background-feed {
    background-image: url("assets/images/Searching-for-information-from-the-phone-s_11845157.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    opacity: 1;
    cursor: url("assets/images/google-cursor.png"), auto;

}

.background-feed p {
    position: absolute;
    color: white;
    width: 800px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
    top: 24%;
    left: 25%;
}

.search-container {
    position: absolute;
    width: 760px;
    top: 40%;
    left: 24%;



}

.search-container i {
    position: absolute;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.7);
    left: 730px;
    top: 30px;

}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #317d85;
    border-radius: 60px;
    font-size: 16px;
    position: absolute;
    height: 75px;
    background-color: #468087;
    color: white;
    cursor: url("assets/images/google-cursor.png"), auto;
}

.background-feed span {
    position: absolute;
    top: 49%;
    left: 45%;
    font-size: 100px;
}

.dropdown-bar {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 100%;
    background: #aee3e9c4;
    border: 1px solid #aaa;
    border-top: none;
    display: none;
    z-index: 1;
}

.dropdown-bar a {
    display: block;
    padding: 10px;
    color: #1d1d1d;
    text-decoration: none;
}

.dropdown-bar a:hover {
    background: #f2f2f2;
}


/* Show dropdown when input is focused */
.search-input:focus+.dropdown-bar {
    display: block;
}

.newsfeed-container {
    max-width: 100%;
    margin: auto;
    background-color: #152d31;
    cursor: url("assets/images/google-cursor.png"), auto;
}

.news-feed {
    background-color: #fff;
    display: grid;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.image-feed {
    grid-column: 1/3;
}

.image-feed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-feed {
    display: grid;
    grid-column: 4/7;
    padding: 15px;
    justify-content: space-between;

}

.content-feed h2 {

    font-size: 36px;
    color: black;
    line-height: 1.2;
    margin-left: 10px;

}

.content-feed p {
    font-size: 20px;


}

.footer-feed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website {
    font-size: 16px;
    color: rgb(20, 15, 15);
}

.footer-feed i {
    padding: 12px;
    font-size: 2em;
    color: black;

}

/* Behavioral UPI page (Page 5) */
.bgcolor {
    background-image: url("assets/images/vecteezy-technology-digital-world-information.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url("assets/images/google-cursor2.png"), auto;

}

.form-container {
    width: 800px;
    margin-top: 100px;
    margin-left: 300px;
    padding: 50px;
    background: #00437eca;
    border-radius: 12px;
    border: 1px solid #ffffff33;
    position: absolute;


}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}


.form-content {

    max-height: 200px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: white;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 6px;
    font-size: 15px;
}

.form-container input::placeholder {
    color: #eee;
}

select option {
    color: black;
}


.checkbox-group label,
.radio-group label {
    display: inline-block;
    margin-right: 12px;
    font-weight: normal;
}


/* Advertisment Page (Page 6)*/
form button {
    width: 100%;
    padding: 12px;
    background-color: #ffffff;
    color: #002080;
    border: none;
    font-size: 20px;
    font-weight: 800;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;

}

.as-bg {
    background-image: url("assets/images/vecteezy_digital-building-in-matrix-style-abstract-background.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url("assets/images/google-cursor2.png"), auto;

}

.ad {
    width: 260px;
    background: white;
    padding: 14px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.18);
    position: absolute;
    text-align: center;
}

.ad img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.adv-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 6px;
}

.ads-btn {
    display: inline-block;
    margin-top: 8px;
    padding: 8px 12px;
    background: dodgerblue;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 6px;
}

#ad1 {
    top: 30%;
    left: 1%;
}

#ad2 {
    top: 15%;
    right: 20.5%;
}

#ad3 {
    bottom: 10%;
    left: 40.5%;
    transform: translateX(-50%);
}

#ad4 {
    top: 25%;
    right: 1%;
}

#ad5 {
    top: 15%;
    left: 20.8%;
}

/* Animation Ads */

@keyframes fadeInRotate {
    from {
        opacity: 0;
        transform: rotate(-10deg);

    }

    to {
        opacity: 1;
        transform: rotate(0deg);

    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounceUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    50% {
        opacity: 1;
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Apply animation to the ads */

#ad1 {
    animation: fadeInRotate 1s ease-out forwards;
}

#ad2 {
    animation: slideInRight 1s ease-out forwards;
}

#ad3 {
    animation: slideInLeft 1s ease-out forwards;
}

#ad4 {
    animation: bounceUp 1s ease-out forwards;
}

#ad5 {
    animation: zoomIn 1.2s ease-out forwards;
}

.a-text {
    position: absolute;
    width: 250px;
    color: white;
    margin-top: 455px;
    margin-left: 330px;
    font-size: 18px;
}

.a2-text {
    position: absolute;
    width: 250px;
    color: white;
    margin-top: 440px;
    margin-left: 920px;
    font-size: 18px;
}

/* Surplus Scale page (Page 7) */

.value {
    position: absolute;
    top: 3%;
    font-size: 35px;
    margin: 20px;
    color: #ffffffaa;
    font-weight: 600;
}

.surplus-bg {
    background-image: url("assets/images/vecteezy_futuristic-technological-grid-background-digital-futurist.jpg");
    height: 100%;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    ;

}

.surplus-bg p {
    position: absolute;
    top: 84%;
    left: 24%;
    color: white;
    width: 800px;
    font-size: 21px;
    font-weight: 700;

}

.surplus-bg span {
    position: absolute;
    top: 49%;
    left: 45%;
    font-size: 100px;
}

.searchbar-container {
    position: absolute;
    width: 760px;
    top: 40%;
    left: 24%;



}

.searchbar-container i {
    position: absolute;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.7);
    left: 730px;
    top: 30px;

}

.searchbar-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #317d85;
    border-radius: 60px;
    font-size: 16px;
    position: absolute;
    height: 75px;
    background-color: #ffffff3a;
    color: white;
    cursor: url("assets/images/google-cursor.png"), auto;
}


.searchbar-dropdown {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 100%;
    background: #a8d2ffc4;
    border: 1px solid #aaa;
    border-top: none;
    display: none;
    z-index: 1;
}

.searchbar-dropdown a {
    display: block;
    padding: 10px;
    color: #1d1d1d;
    text-decoration: none;
}

.searchbar-dropdown a:hover {
    background: #f2f2f2;
}


/* Show dropdown when input is focused */
.searchbar-input:focus+.searchbar-dropdown {
    display: block;
}

.vacation {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 130px;
    background: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.18);
    position: absolute;
    text-align: center;
    opacity: 0.8;
}

.vacation img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 6px;
}

.vacation-title {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
}

.vacation p {
    font-size: 12px;
    margin-bottom: 6ox;
}

.vaca-btn {
    display: inline-block;
    margin-top: 8px;
    font-size: 12px;
    padding: 6px 10px;
    background: dodgerblue;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 6px;
}

.subscribe-ig img {
    position: absolute;
    top: 65%;
    left: 41%;
    height: 10%;
    cursor: pointer;
    opacity: 0.8;

}

.google-ig img {
    position: absolute;
    top: 10%;
    left: 35%;
    height: 30%;
    opacity: 0.8;
    cursor: pointer;

}


.fa-facebook {
    position: absolute;
    top: 65%;
    left: 70%;
    color: white;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.8;

}


.fa-youtube {
    position: absolute;
    top: 65%;
    left: 23%;
    color: white;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.8;

}

.fa-instagram {
    position: absolute;
    top: 45%;
    left: 85%;
    color: white;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.8;

}

.fa-pinterest {
    position: absolute;
    top: 23%;
    left: 70%;
    color: white;
    font-size: 45px;
    cursor: pointer;
    opacity: 0.8;

}

.fa-snapchat-ghost {
    position: absolute;
    top: 23%;
    left: 23%;
    color: white;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.8;

}


/* Human invention page (Page 8) */
.invention-bg {
    background-image: url("assets/images/vecteezy_abstract-digital-blue-square-particles-background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.invention-bg p {
    color: white;
    font-size: 22px;
    width: 800px;
    font-weight: 600;
    position: absolute;
    top: 52%;
    left: 25%;
    line-height: 1.5;
}

.invention-bg span {
    position: absolute;
    top: 32%;
    left: 44%;
    font-size: 130px;
}

.im-google img {
    position: absolute;
    height: 30%;
    top: 15%;
    left: 35%;
}

.hand-im img {
    position: absolute;
    height: 45%;
    top: 25%;
    left: 55%;
    opacity: .3;
}

.folder-im img {
    position: absolute;
    width: 55%;
    top: 63.5%;
    left: 22%;
    opacity: .3;
}

.eye-left img {
    position: absolute;
    height: 30%;
    top: 20%;
    left: 10%;
    opacity: .5;
}

.eye-right img {
    position: absolute;
    height: 30%;
    top: 20%;
    left: 75%;
    opacity: .5;
}

/* Extraction Page (Page 9) */

.extract-bg {
    background-image: url("assets/images/vecteezy_data-security-system-protection-computer-security.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    cursor: url("assets/images/google-cursor2.png"), auto;
}



#togglebox {
    display: none;
}


.boxtoggle img {
    position: absolute;
    height: 30%;
    left: 70%;
    margin: 15px;
    top: 45%;
    cursor: pointer;

}

.extract-bg input {
    display: none;
}

/* Text that is hidden in the folder. 
The text is only revealed when the folder is clicked */
.textbox {
    position: fixed;
    top: 15%;
    left: 70%;
    width: 280px;
    padding: 10px;
    border: 2px, solid black;
    border-radius: 10px;
    display: none;
    animation: fadeIn 0.25s, ease-in-out;
    background-color: rgba(255, 255, 255, 0.764);
}

/* animation for toogle box */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0, 9);
    }

    to {
        opacity: 0;
        transform: scale(1);
    }

}

label.close-bt {
    display: inline-block;
    margin-top: 0;
    margin-left: 100px;
    padding: 12px;
    background: rgb(25, 129, 233);
    color: white;
    border-radius: 12px;
    font-size: 16px;


}

/* also the toggle box to appear when the folder is clicked */
#toggleBox:checked~.textbox {
    display: block;


}

.locked-google img {
    position: absolute;
    top: 50%;
    height: 25%;
    left: 5%;
    cursor: url("assets/images/google-cursor.png"), auto;

}

.lock img {
    position: absolute;
    top: 30%;
    height: 50%;
    left: 7%;
    opacity: .4;
    cursor: url("assets/images/google-cursor.png"), auto;

}


/* The Final page. Google has attain Capitalism 
It will be a hidden page that will not be apart of the navbar
You can only get throught it by the lock on google extraction page
*/
.final-bg {
    background-image: url("assets/images/vecteezy_abstract-blue-circuit-digital-background_6736873\ copy.jpg");
    height: 1050px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

.final-bg input {
    display: none;
    opacity: 0;
}

.typetoggle img {
    position: absolute;
    height: 35%;
    left: 33%;
    top: 10%;
    cursor: url("assets/images/google-cursor.png"), auto;
}

.toggle-text {
    display: none;
    position: relative;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0f355c8a;
    color: white;
    width: 80%;
    max-width: 650px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    white-space: pre-wrap;



}

.toggle-text button {
    display: none;
    top: 88%;
    left: 40%;
    position: fixed;
    color: white;
    background-color: dodgerblue;
    width: 120px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;


}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.typing-effect {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(70) 1s forwards,
        blink 0.75s step-end infinite;


}

#toggle:checked~.toggle-text,
.toggle-text button {
    display: block;
}

.typing-effect:nth-child(1) {
    animation-delay: 1s;
}

.typing-effect:nth-child(2) {
    animation-delay: 7s;
}

.typing-effect:nth-child(3) {
    animation-delay: 13s;
}

.typing-effect:nth-child(4) {
    animation-delay: 19s;

}

.typing-effect:nth-child(5) {
    animation-delay: 26s;

}

footer {
    width: 100%;
    position: absolute;

    /* background-color: #051332; */
    top: 885px;
    color: white;
    text-align: center;


}

footer hr {
    margin: 0px;
}

.credit {
    width: 100%;
    text-align: center;

}

/* .form-container {
    max-width: 800px;
    margin-top: 50px;
    margin-left: 350px;
    padding: 25px;
    background: #ffffff14;
    border-radius: 12px;
    border: 1px solid #ffffff33;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}


.form-content {

    max-height: 200px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: white;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 6px;
    font-size: 15px;
}

input::placeholder {
    color: #eee;
}

 select option {
    color: black;
}


.checkbox-group label,
.radio-group label {
    display: inline-block;
    margin-right: 12px;
    font-weight: normal;
}

.button {
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: white;
    color: #002080;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 10px;
} */