body,
html {
    margin: 0px;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

/* .montserrat-<uniquifier> { 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}*/


.home-img {
    background-image: url("assets/images/vecteezy_modern-technology-background_31993297.jpg");
    height: 100%;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.border-text {
    background-color: white;
    position: absolute;
    color: aqua;
    top: 40%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: .5;
    text-align: center;

}

button {

    position: absolute;
    top: 68%;
    left: 45%;
    border: none;
    outline: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 10px;
}

.navbar {
    width: 100%;
    /* background-image: linear-gradient(to bottom left, rgb(8, 223, 217), rgb(89, 245, 246), rgb(10, 215, 242), rgb(4, 137, 180), rgb(0, 79, 104), rgb(0, 26, 43)); */
    /* background-image: linear-gradient(to right, rgb(26, 51, 68), rgb(30, 83, 142), rgb(27, 163, 183), rgb(39, 230, 236), rgb(90, 165, 205), rgb(111, 113, 161)); */
    /* background-image: linear-gradient(to top left, rgb(25, 24, 52), rgb(43, 44, 104), rgb(51, 138, 202), rgb(38, 183, 205), rgb(97, 189, 175)); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    padding-bottom: 20px;
    position: absolute;


}

nav {
    margin-top: 25px;
    display: inline-block;

}




.navbar a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;


}

.navbar a:hover {
    color: black;
    background-color: rgb(255, 253, 219);
    border-radius: 10px;
}

.main-img {
    background-image: url("assets/images/Google-on-the-screen.jpg");
    height: 100%;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-img h1 {
    color: white;
    top: 10%;
    position: absolute;
    left: 43%;
    font-size: 40px;
    font-weight: 400;
}

.main-img p {
    position: absolute;
    top: 93%;
    color: #d7ecff;
    font-size: 20px;
    opacity: .8;
}

/*.shine-box {
    width: 100%;
    height: 100%;
    background-image: url("assets/images/Google-on-the-screen.jpg");
    /* Dark background to make the light visible *
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Needed for absolute positioning of the shine effect *
overflow: hidden;
/* Keeps the shine inside the box *
    border-radius: 10px;
}

.shine-box::before {
    content: '';
    position: absolute;
    top: -100%;
    /* Start position above the container *
    left: 0;
    width: 100%;
    height: 200%;
    /* Height covers the full travel path *
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 50%,
            /* The "light" part *
            rgba(255, 255, 255, 0) 100%);
    animation: shine-down 3s infinite linear;
    /* Animation properties *
}

@keyframes shine-down {
    0% {
        transform: translateY(0);
        /* Start at the top *
    }


    100% {
        transform: translateY(100%);
        /* Move to the bottom *
    }
}*/

.fire-img {
    background-image: url("assets/images/vecteezy_a-painting-of-a-forest-with-flames-and-trees_71666522.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url("assets/images/google-cursor.png"), auto;

}

.fire-img img {
    position: absolute;
    width: 100%;
    height: 65%;
    top: 35%;
    opacity: .5;
}

.money-bags img {
    position: absolute;
    height: 25%;
    width: 25%;
    top: 75%;

}

.money-stacks img {
    position: absolute;
    height: 25%;
    width: 25%;
    top: 75%;
    left: 75%;
}

span {
    color: white;
    font-size: 80px;
    position: absolute;
    left: 45%;
    top: 75%;
    cursor: pointer;
}

.fire-img h1 {
    position: absolute;
    color: white;
    left: 29%;
    top: 10%;
    font-size: 36px;

}

.fire-img h3 {
    position: absolute;
    color: white;
    top: 70%;
    left: 39%;
    font-size: 28px;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 15px #fff, 0 0 25px #fff, 0 0 35px #00bce6, 0 0 45px #21d4fc, 0 0 55px #21d4fc, 0 0 65px #21d4fc, 0 0 75px #21d4fc;
    }

    to {
        text-shadow: 0 0 25px #fff, 0 0 35px #51f9d8, 0 0 45px #51f9d8, 0 0 55px #51f9d8, 0 0 65px #51f9d8, 0 0 75px #51f9d8, 0 0 85px #51f9d8;
    }
}


.background {
    background-image: url("assets/images/Searching-for-information-from-the-phone-s_11845157.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: url("assets/images/google-cursor.png"), auto;

}

.search-container {
    position: absolute;
    width: 760px;
    top: 40%;
    left: 24%;



}

.search-container i {
    position: absolute;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.7);
    left: 730px;
    top: 30px;

}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #317d85;
    border-radius: 60px;
    font-size: 16px;
    position: absolute;
    height: 75px;
    background-color: #468087;
    color: white;
    cursor: url("assets/images/google-cursor.png"), auto;
}

.dropdown {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 100%;
    background: #aee3e9c4;
    border: 1px solid #aaa;
    border-top: none;
    display: none;
    z-index: 1;
}

.dropdown a {
    display: block;
    padding: 10px;
    color: #1d1d1d;
    text-decoration: none;
}

.dropdown a:hover {
    background: #f2f2f2;
}


/* Show dropdown when input is focused */
.search-input:focus+.dropdown {
    display: block;
}

.newsfeed-container {
    max-width: 100%;
    margin: auto;
    background-color: #152d31;
    cursor: url("assets/images/google-cursor.png"), auto;
}

.news-feed {
    background-color: #fff;
    display: grid;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.image-feed {
    grid-column: 1/3;
}

.image-feed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-feed {
    display: grid;
    grid-column: 4/7;
    padding: 15px;
    justify-content: space-between;

}

.content-feed h2 {

    font-size: 36px;
    color: black;
    line-height: 1.2;
    margin-left: 10px;

}

.content-feed p {
    font-size: 20px;


}

.footer-feed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website {
    font-size: 16px;
    color: rgb(20, 15, 15);
}

.footer-feed i {
    padding: 12px;
    font-size: 2em;
    color: black;

}


.bgcolor {

    background: linear-gradient(135deg, #001a4d, #003399, #458efc);
    background-size: cover;
    cursor: url("assets/images/google-cursor.png"), auto;

}

.as-bg {
    background: linear-gradient(135deg, #002164, #003399, #3c8aff);
    background-size: cover;
    cursor: url("assets/images/google-cursor.png"), auto;

}

.ad {
    width: 260px;
    background: white;
    padding: 14px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.18);
    position: absolute;
    text-align: center;
}

.ad img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.adv-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 6px;
}

.ads-btn {
    display: inline-block;
    margin-top: 8px;
    padding: 8px 12px;
    background: dodgerblue;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 6px;
}

#ad1 {
    top: 30%;
    left: 1%;
}

#ad2 {
    top: 10%;
    right: 21%;
}

#ad3 {
    bottom: 10%;
    left: 40.5%;
    transform: translateX(-50%);
}

#ad4 {
    top: 25%;
    right: 1%;
}

#ad5 {
    top: 10%;
    left: 21%;
}

/* Animation Ads */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounceUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    50% {
        opacity: 1;
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Apply animation to the ads */
#ad1 {
    animation: fadeIn 1s ease-out forwards;
}

#ad2 {
    animation: slideInRight 1s ease-out forwards;
}

#ad3 {
    animation: slideInLeft 1s ease-out forwards;
}

#ad4 {
    animation: bounceUp 1s ease-out forwards;
}

#ad5 {
    animation: zoomIn 1.2s ease-out forwards;
}

.value {
    position: absolute;
    top: 3%;
    font-size: 35px;
    margin: 20px;
    color: #ffffffaa;
    font-weight: 600;
}

.surplus-bg {
    background-image: url("assets/images/vecteezy_futuristic-technological-grid-background-digital-futurist.jpg");
    height: 100%;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.searchbar-container {
    position: absolute;
    width: 760px;
    top: 40%;
    left: 24%;



}

.searchbar-container i {
    position: absolute;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.7);
    left: 730px;
    top: 30px;

}

.searchbar-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #317d85;
    border-radius: 60px;
    font-size: 16px;
    position: absolute;
    height: 75px;
    background-color: #ffffff3a;
    color: white;
    cursor: url("assets/images/google-cursor.png"), auto;
}


.searchbar-dropdown {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 100%;
    background: #a8d2ffc4;
    border: 1px solid #aaa;
    border-top: none;
    display: none;
    z-index: 1;
}

.searchbar-dropdown a {
    display: block;
    padding: 10px;
    color: #1d1d1d;
    text-decoration: none;
}

.searchbar-dropdown a:hover {
    background: #f2f2f2;
}


/* Show dropdown when input is focused */
.searchbar-input:focus+.searchbar-dropdown {
    display: block;
}

.vacation {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 130px;
    background: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.18);
    position: absolute;
    text-align: center;
    opacity: 0.8;
}

.vacation img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 6px;
}

.vacation-title {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
}

.vacation p {
    font-size: 12px;
    margin-bottom: 6ox;
}

.vaca-btn {
    display: inline-block;
    margin-top: 8px;
    font-size: 12px;
    padding: 6px 10px;
    background: dodgerblue;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 6px;
}

.subscribe-ig img {
    position: absolute;
    top: 65%;
    left: 40%;
    height: 10%;
    cursor: pointer;
    opacity: 0.8;

}

.google-ig img {
    position: absolute;
    top: 10%;
    left: 35%;
    height: 30%;
    opacity: 0.8;
    cursor: pointer;

}


.fa-facebook {
    position: absolute;
    top: 65%;
    left: 70%;
    color: white;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.8;

}


.fa-youtube {
    position: absolute;
    top: 65%;
    left: 23%;
    color: white;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.8;

}

.fa-instagram {
    position: absolute;
    top: 45%;
    left: 85%;
    color: white;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.8;

}

.fa-pinterest {
    position: absolute;
    top: 23%;
    left: 70%;
    color: white;
    font-size: 45px;
    cursor: pointer;
    opacity: 0.8;

}

.fa-snapchat-ghost {
    position: absolute;
    top: 23%;
    left: 23%;
    color: white;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.8;

}

.invention-bg {
    background-image: url("assets/images/vecteezy_abstract-digital-blue-square-particles-background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.im-google img {
    position: absolute;
    height: 30%;
    top: 15%;
    left: 35%;
}

.hand-im img {
    position: absolute;
    height: 45%;
    top: 25%;
    left: 55%;
    opacity: .3;
}

.folder-im img {
    position: absolute;
    width: 55%;
    top: 63.5%;
    left: 25%;
    opacity: .3;
}

.eye-left img {
    position: absolute;
    height: 30%;
    top: 20%;
    left: 10%;
    opacity: .5;
}

.eye-right img {
    position: absolute;
    height: 30%;
    top: 20%;
    left: 75%;
    opacity: .5;
}

#tooglebox {
    display: none;
}

input {
    display: none;
}

label img {
    position: absolute;
    height: 30%;
    left: 60%;
    margin: 15px;
    top: 40%;

}

.textbox {
    position: fixed;
    top: 15%;
    left: 60%;
    width: 280px;
    padding: 10px;
    border: 2px, solid black;
    border-radius: 10px;
    display: none;
    animation: fadeIn 0.25s, ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0, 9);
    }

    to {
        opacity: 0;
        transform: scale(1);
    }

}

label.close-bt {
    display: inline-block;
    margin-top: 0;
    padding: 6px;
    background: royalblue;
    color: white;
    border-radius: 10px;
    font-size: 16px;

}

#toggleBox:checked~.textbox {
    display: block;


}

/* .form-container {
    max-width: 800px;
    margin-top: 50px;
    margin-left: 350px;
    padding: 25px;
    background: #ffffff14;
    border-radius: 12px;
    border: 1px solid #ffffff33;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}


.form-content {

    max-height: 200px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: white;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 6px;
    font-size: 15px;
}

input::placeholder {
    color: #eee;
}

 select option {
    color: black;
}


.checkbox-group label,
.radio-group label {
    display: inline-block;
    margin-right: 12px;
    font-weight: normal;
}

.button {
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: white;
    color: #002080;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 10px;
} */