body,
html {
    margin: 0px;
    height: 100%;
    /* font-family: "Montserrat", sans-serif; */
}

/* .montserrat-<uniquifier> { 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}*/


.home-img {
    background-image: url("assets/images/vecteezy_modern-technology-background_31993297.jpg");
    height: 100%;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.border-text {
    background-color: white;
    position: absolute;
    color: aqua;
    top: 40%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: .5;
    text-align: center;

}

button {

    position: absolute;
    top: 68%;
    left: 45%;
    border: none;
    outline: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 10px;
}

.navbar {
    width: 100%;
    /* background-image: linear-gradient(to bottom left, rgb(8, 223, 217), rgb(89, 245, 246), rgb(10, 215, 242), rgb(4, 137, 180), rgb(0, 79, 104), rgb(0, 26, 43)); */
    /* background-image: linear-gradient(to right, rgb(26, 51, 68), rgb(30, 83, 142), rgb(27, 163, 183), rgb(39, 230, 236), rgb(90, 165, 205), rgb(111, 113, 161)); */
    /* background-image: linear-gradient(to top left, rgb(25, 24, 52), rgb(43, 44, 104), rgb(51, 138, 202), rgb(38, 183, 205), rgb(97, 189, 175)); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    padding-bottom: 20px;
    position: absolute;

}

nav {
    margin-top: 25px;
    display: inline-block;

}




a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;


}

a:hover {
    color: black;
    background-color: rgb(255, 253, 219);
    border-radius: 10px;
}

.main-img {
    background-image: url("assets/images/Google-on-the-screen.jpg");
    height: 100%;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-img h1 {
    color: white;
    top: 10%;
    position: absolute;
    left: 43%;
    font-size: 40px;
    font-weight: 400;
}

.main-img p {
    position: absolute;
    top: 93%;
    color: #d7ecff;
    font-size: 20px;
    opacity: .8;
}

/*.shine-box {
    width: 100%;
    height: 100%;
    background-image: url("assets/images/Google-on-the-screen.jpg");
    /* Dark background to make the light visible *
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Needed for absolute positioning of the shine effect *
overflow: hidden;
/* Keeps the shine inside the box *
    border-radius: 10px;
}

.shine-box::before {
    content: '';
    position: absolute;
    top: -100%;
    /* Start position above the container *
    left: 0;
    width: 100%;
    height: 200%;
    /* Height covers the full travel path *
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 50%,
            /* The "light" part *
            rgba(255, 255, 255, 0) 100%);
    animation: shine-down 3s infinite linear;
    /* Animation properties *
}

@keyframes shine-down {
    0% {
        transform: translateY(0);
        /* Start at the top *
    }


    100% {
        transform: translateY(100%);
        /* Move to the bottom *
    }
}*/

.fire-img {
    background-image: url("assets/images/vecteezy_a-painting-of-a-forest-with-flames-and-trees_71666522.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url("assets/images/google-cursor.png"), auto;

}

.fire-img img {
    position: absolute;
    width: 100%;
    height: 65%;
    top: 35%;
    opacity: .5;
}

.money-bags img {
    position: absolute;
    height: 25%;
    width: 25%;
    top: 75%;

}

.money-stacks img {
    position: absolute;
    height: 25%;
    width: 25%;
    top: 75%;
    left: 75%;
}

span {
    color: white;
    font-size: 80px;
    position: absolute;
    left: 45%;
    top: 75%;
    cursor: pointer;
}

.fire-img h1 {
    position: absolute;
    color: white;
    left: 29%;
    top: 10%;
    font-size: 36px;

}

.fire-img h3 {
    position: absolute;
    color: white;
    top: 70%;
    left: 39%;
    font-size: 28px;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 15px #fff, 0 0 25px #fff, 0 0 35px #00bce6, 0 0 45px #21d4fc, 0 0 55px #21d4fc, 0 0 65px #21d4fc, 0 0 75px #21d4fc;
    }

    to {
        text-shadow: 0 0 25px #fff, 0 0 35px #51f9d8, 0 0 45px #51f9d8, 0 0 55px #51f9d8, 0 0 65px #51f9d8, 0 0 75px #51f9d8, 0 0 85px #51f9d8;
    }
}