body,
html {
    margin: 0px;
    height: 100%;
    /* font-family: "Montserrat", sans-serif; */
    /* background-image: linear-gradient(to bottom right, rgb(26, 51, 68), rgb(30, 83, 142), rgb(27, 163, 183), rgb(39, 230, 236), rgb(90, 165, 205), rgb(111, 113, 161)); */

}

/* .montserrat-<uniquifier> { 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}*/


.home-img {
    background-image: url("assets/images/vecteezy_modern-technology-background_31993297.jpg");
    height: 100%;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.border-text {
    background-color: white;
    position: absolute;
    color: aqua;
    top: 40%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: .5;
    text-align: center;

}

button {

    position: absolute;
    top: 68%;
    left: 45%;
    border: none;
    outline: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 10px;
}

.navbar {
    width: 100%;
    background-image: linear-gradient(to top left, rgb(8, 223, 217), rgb(89, 245, 246), rgb(10, 215, 242), rgb(4, 137, 180), rgb(0, 79, 104), rgb(0, 26, 43));
    /* background-image: linear-gradient(to right, rgb(26, 51, 68), rgb(30, 83, 142), rgb(27, 163, 183), rgb(39, 230, 236), rgb(90, 165, 205), rgb(111, 113, 161)); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    padding-bottom: 20px;

}

nav {
    margin-top: 25px;
    display: inline-block;

}



a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;

}

.main-img {
    background-image: url("assets/images/vecteezy_modern-technology-background_31993297.jpg");
    height: 100%;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}