/*
The hamburger menu script

        <script>document.addEventListener('DOMContentLoaded', ()=> {
                const hamburgerButton=document.querySelector('.hamburger-menu button');
                const closeButton=document.querySelector('.close-menu');
                const menu1=document.querySelector('.menu1');
    
                // Gestion de l'ouverture du menu
                hamburgerButton.addEventListener('click', ()=> {
                        menu1.classList.add('menu-deployed');
                    });
    
                // Gestion de la fermeture du menu
                closeButton.addEventListener('click', ()=> {
                        menu1.classList.remove('menu-deployed');
                    });
            });
        </script>
*/