body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    background-color: #f7f2eb;

}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;

}

a:hover {
    color: rgb(168, 187, 149);

}

a.active {
    color: #87879d;
    font-size: 20px;
    font-weight: 900;
}


nav {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 60% 1fr;

}

.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;

}

.hamburger-menu button {
    background: none;
    border: none;
    color: gray;
}

.hamburger-menu button .fa-bars {
    cursor: pointer;
    font-size: 2.5em;
    padding-right: 15px;
}

.close-menu {
    display: none;
}

.menu1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu1 a {
    display: block;
}

.wrapper {
    margin-top: 10px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

header img {
    margin-top: 50px;
    width: 100%;
}

header h1 {
    color: #000000;
    text-align: left;
    font-size: 40px;
    margin-bottom: 20px;
}


p {
    line-height: 1.5;
    font-size: 18px;

}

.book {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    max-width: 100%;
}

.book img {
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;

}

.book figure {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hover-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: rgb(127, 127, 127);
    padding: 8px;
    border-radius: 10px;
    color: #ffffff;
    transition: opacity 0.3s ease;
}

.book figure:hover .hover-text {
    display: block;
    opacity: 1;
}

.book figure:hover img {
    transform: scale(1.05);
    opacity: 0.9;
}

.im:hover {
    filter: blur(2px);
    opacity: 0.9;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;

}

.storyimg {
    grid-column: 1/7;
    padding-top: 100px;
}

.story {
    grid-column: 7/13;
    text-align: left;


}

/*.story h2 {
    text-align: left;
    font-size: 30px;

}*/

/*.story p {
    text-align: left;

}*/

.im {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-sizing: border-box;
    display: block;
}

.im1 {
    grid-column: 1/4;
    grid-row: 1/ 3;
}

.im2 {
    grid-column: 4/7;
    grid-row: 1/3;
}

.im3 {
    grid-column: 7/13;
    grid-row: 1/6;

}

.im4 {
    grid-column: 1/4;
    grid-row: 3/6;

}

.im5 {
    grid-column: 4/7;
    grid-row: 3/6;
}

.im6 {
    grid-column: 1/7;
    grid-row: 6/9;
}

.im7 {
    grid-column: 7/10;
    grid-row: 6/7;
}

.im8 {
    grid-column: 10/13;
    grid-row: 6/7;
}

.im9 {
    grid-column: 7/10;
    grid-row: 7/9;
}

.im10 {
    grid-column: 10/13;
    grid-row: 7/9;
}

.im11 {
    grid-column: 1/4;
    grid-row: 9/ 13;
}

.im12 {
    grid-column: 4/7;
    grid-row: 9/13;
}

.im13 {
    grid-column: 7/10;
    grid-row: 9/13;
}

.im14 {
    grid-column: 10/13;
    grid-row: 9/13;
}

.icons {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.icons fa {
    padding: 12px;
    font-size: 3em;
    color: gray;
}

.icons a {
    padding: 12px;
    font-size: 2em;
    color: gray;
    ;

}

.credit {
    margin: auto;
    text-align: center;
}

footer {
    max-width: 100%;
    margin-top: 150px;
    text-align: right;
}



/* This is for Cellphone*/
@media(max-width: 780px) {

    .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2em;
        color: gray;
    }

    button {
        border-width: 0px;
        background-color: white;
    }

    .hamburger-menu {
        display: flex;
        grid-column: auto;
    }

    .menu-deployed {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 11000;
        padding-top: 50px;


    }

    .menu1 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .menu1 a {
        padding: 20px;
        color: gray;
        font-size: 30px;
    }

    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        padding: 10px 20;
        line-height: 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 4px solid #000;
        background: #000;
        z-index: 1000;
        color: white;

    }

    nav a {
        color: darkgrey;

    }

    nav a.active {
        color: #656565;
        font-size: 40px;

    }

    a:hover {
        color: rgb(168, 187, 149);

    }

    header h1 {
        color: #000;
        text-align: right;
        font-size: 35px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    header h2 {
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: right;
        font-size: 25px;
        color: darkgray;
    }


    /* main h3 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 20px;
        color: #63637d;
    }*/

    main p {
        line-height: 1.5;
        font-size: 16px;
        font-weight: 400;
    }

    body {

        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 150;
        font-style: normal;
        font-variation-settings: "width" 100;
        padding: 0;
        margin: 0;
    }


    .wrapper {
        margin-top: 50px;
        position: relative;
        /* the percentage of the container. If there is no container its the percentage of the whole viewpoing*/
        width: 90%;
        margin: 0 auto;
        float: none;
        line-height: 150%;

    }

    footer {
        margin-top: 40px;
        font-size: 12px;

    }

    .book {
        grid-template-columns: auto auto;
        gap: 10px;
        padding: 0px;
        grid-auto-flow: row dense;
        margin-top: 30px;
    }

    .book [class^="im"] {
        grid-column: auto !important;
        grid-row: auto !important;
        width: 100%;
        height: auto;
        object-fit: cover;

    }

    .book figure {
        margin: 0;
    }

    /* .storyimg {
        padding-top: 30px;
        grid-column: 1/3;

    }


    .story {
        grid-column: 1/3;
        text-align: left;

    }

    .story p {
        font-weight: 400;
    }*/
}