@media(max-width: 480px) {
    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        padding: 10px 0;
        line-height: 30px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #5d5d76;
        z-index: 1000;
        color: white;
        float: none;

    }

    nav a {
        color: darkgrey;

    }

    nav a.active {
        color: #fdfbf7;

    }

    header h1 {
        color: #135c84;
        text-align: right;
        font-size: 30px;
        margin-top: 40px;
    }

    header h2 {
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: right;
        font-size: 25px;
        color: darkgray;
    }

    main h3 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 20px;
        color: #63637d;
    }

    p {
        line-height: 1.5;
        font-size: 16px;
    }

    body {

        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 150;
        font-style: normal;
        font-variation-settings: "width" 100;
        padding: 0;
        margin: 0;
    }


    .wrapper {
        margin-top: 50px;
        position: relative;
        /* the percentage of the container. If there is no container its the percentage of the whole viewpoing*/
        width: 90%;
        margin: 0 auto;
        float: none;
        line-height: 150%;

    }

    footer {
        margin-top: 40px;
        font-size: 12px;

    }

    .book {
        grid-template-columns: auto auto;
        gap: 16px;
        margin-top: 30px;
    }

    .book img {
        height: 70%;

    }

    .book figcaption {
        font-weight: 500;
        font-size: 16px;

    }

}